<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Matador de Monstros</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<div v-if="running || logs.length > 0" class="panel scores">
			<div class="score">
				<h1>{{ playerName }}</h1>
				<div class="life-bar">
					<div class="life" :class="{danger: playerLife < 20}" :style="{width: playerLife + '%'}"></div>
				</div>
				<div>{{ playerLife }}%</div>
			</div>

			<div class="score">
				<h1>Monstro</h1>
				<div class="life-bar">
					<div class="life" :class="{danger: monsterLife < 20}" :style="{width: monsterLife + '%'}"></div>
				</div>
				<div>{{ monsterLife }}%</div>
			</div>
		</div>
		
		<div v-if="hasResult" class="panel result">
			<div v-if="monsterLife == 0" class="win">Você ganhou!</div>
			<div v-else class="lose">Você perdeu!</div>
			
		</div>
		
		<div class="panel buttons">
			<template v-if="running">
				<button @click="attack(false)" class="btn attack">Ataque</button>
				<button @click="attack(true)" class="btn special-attack" :class="{canUseSpecial: !canUseSpecial}" :disabled="!canUseSpecial">Ataque especial ({{ playerCanUseSpecial-specialUsed }})</button>
				<button @click="healAndHurt" class="btn heal" :class="{canUseHeal: !canUseHeal}" :disabled="!canUseHeal">Curar ({{ playerCanHeal-healUsed }})</button>
				<button @click="running = false" class="btn give-up">Desistir</button>
			</template>
			<template v-else>
				<input type="text" v-model="playerName" placeholder="Digite o nome do seu personagem" size="30">
				<button @click="startGame" class="btn new-game">Iniciar jogo</button>
			</template>
		</div>
		
		<div v-if="logs.length" class="panel logs">
			<ul>
				<li class="log" :class="log.cls" v-for="log in logs">
					{{ log.text }}
				</li>
			</ul>
		</div>	
	</div>

	<script type="text/javascript" src="app.js"></script>
</body>
</html>