html {
	font-family: 'Montserrat', sans-serif;
}

#app {
	display: flex;
	flex-direction: column;
}

.panel {
	margin: 10px;
	padding: 20px;
	box-shadow: 0 2px 10px rgba(0,0,0, 0.15);
}

/* Área dos pontos */

.scores {
	display: flex;
}

.score {
	flex: 1; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.score h1 {
	font-weight: 300;
	font-size: 1.6rem;
}

.life-bar {
	width: 80%;
	height: 20px;
	border: 1px solid #aaa;
}

.life-bar .life {
	display: flex;
	justify-content: center;
	height: 100%;
	background-color: green;
}

.life-bar .life.danger {
	background-color: red;
}

/* Área de resultado */

.result {
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
	font-weight: 600;
}

.result .win {
	color: green;
}

.result .lose {
	color: red;
}

/* Área dos botões */

.buttons {
	display: flex;
	justify-content: center;

}

.btn {
	padding: 5px 10px;
	margin: 0 10px;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 1.1rem;
	border: none;
	cursor: pointer;

}

.btn.new-game {
	background-color: #4253af;
	color: #ffffff;
}

.btn.attack {
	background-color: #e51c23;
	color: #ffffff;
}

.btn.special-attack {
	background-color: #ff9800;
	color: #000000;
}

.btn.canUseSpecial {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.btn.heal {
	background-color: #259b24;
	color: #ffffff;
}

.btn.canUseHeal {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.btn.give-up {
	background-color: #bbbbbb;
	color: #000000;
}

/* Área de logs */

.logs ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}

.logs ul li {
	display: flex;
	justify-content: center;
	margin: 4px 0;
	padding: 3px 0;
	font-weight: 600;
	font-size: 1.1rem;
	text-transform: uppercase;
	border-radius: 3px;
}

.log.player {
	background-color: #4253afaa;
	color: #ffffff;
}

.log.monster {
	background-color: #e51c23aa;
	color: #ffffff;
}

.log.heal {
	background-color: #fff3cd;
	color: #000000;
}

.log.special {
	background-color: #d4edda;
	color: #000000;
}
